<?xml version="1.0" encoding="UTF-8"?>
<!--
    日志级别从低到高(越低日志越多): ALL~DEBUG~INFO~WARN~ERROR~OFF
    debug: 自用
    info: springboot默认级别
    warn: 警告信息,比如传参异常
    error: 服务器错误,比如调用数据库失败
    -->
<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name"/>
    <!-- 日志地址 -->
    <property name="logPath" value="/xfjyg/logs/"></property>
    <property name="outputLogLevel" value="ERROR"></property>
    <!-- 最大保存时间 -->
    <property name="maxHistory" value="30"/>

    <!--控制台日志-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%-5p) %date{HH:mm:ss.SSS} - %cyan(%-45c{1}) %m%n</pattern>
        </encoder>
    </appender>
    <!--{appName}.log-->
    <appender name="f_all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}${applicationName}.log</file>
        <encoder>
            <pattern>[%-5p] %date{HH:mm:ss.SSS,Australia/Perth} - %-45c{1} %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}${applicationName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="f_warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}${applicationName}-warn.log</file>
        <encoder>
            <pattern>[%-5p] %date{HH:mm:ss.SSS,Australia/Perth} - %-45c{1} %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}${applicationName}-debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="f_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--输出位置-->
        <file>${logPath}${applicationName}-error.log</file>
        <!--输出每条格式-->
        <encoder>
            <pattern>[%-5p] %date{HH:mm:ss.SSS,Australia/Perth} - %-45c{1} %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--收集的日志级别-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <!--归档策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}${applicationName}-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--产生的日志-->
    <springProfile name="default,dev,testing">
        <root level="${outputLogLevel}">
            <appender-ref ref="console"/>
            <appender-ref ref="f_all"/>
            <appender-ref ref="f_warn"/>
            <appender-ref ref="f_error"/>
        </root>
    </springProfile>
    <springProfile name="beta,product,demo">
        <root level="${outputLogLevel}">
            <appender-ref ref="console"/>
            <appender-ref ref="f_all"/>
            <appender-ref ref="f_error"/>
        </root>
    </springProfile>
</configuration>


